<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.statemachine.infra.mapper.StateMachineTransfMapper">

    <select id="queryById" resultType="io.choerodon.statemachine.domain.StateMachineTransf">
        SELECT *
        FROM state_machine_transf
        WHERE organization_id = #{organizationId}
        and id = #{id}
    </select>

    <update id="deleteByNodeId">
        DELETE FROM state_machine_transf
        WHERE start_node_id = #{nodeId} OR end_node_id = #{nodeId}
    </update>

    <insert id="insertWithId">
        INSERT INTO state_machine_transf (
        id,
        name,
        description,
        state_machine_id,
        start_node_id,
        end_node_id,
        url,
        status,
        style,
        condition_strategy,
        creation_date,
        created_by,
        last_update_date,
        last_updated_by,
        object_version_number
        )
        VALUES
        (
        #{stateMachineTransf.id},
        #{stateMachineTransf.name},
        #{stateMachineTransf.description},
        #{stateMachineTransf.stateMachineId},
        #{stateMachineTransf.startNodeId},
        #{stateMachineTransf.endNodeId},
        #{stateMachineTransf.url},
        #{stateMachineTransf.status},
        #{stateMachineTransf.style},
        #{stateMachineTransf.conditionStrategy},
        #{stateMachineTransf.creationDate},
        #{stateMachineTransf.createdBy},
        #{stateMachineTransf.lastUpdateDate},
        #{stateMachineTransf.lastUpdatedBy},
        #{stateMachineTransf.objectVersionNumber}
        );
    </insert>

</mapper>
