<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.statemachine.infra.mapper.StateMachineConfigMapper">

    <insert id="insertWithId">
        INSERT INTO state_machine_config (
        id,
        transf_id,
        state_machine_id,
        code,
        type,
        creation_date,
        created_by,
        last_update_date,
        last_updated_by,
        object_version_number
        )
        VALUES
        (
        #{stateMachineConfig.id},
        #{stateMachineConfig.transfId},
        #{stateMachineConfig.stateMachineId},
        #{stateMachineConfig.code},
        #{stateMachineConfig.type},
        #{stateMachineConfig.creationDate},
        #{stateMachineConfig.createdBy},
        #{stateMachineConfig.lastUpdateDate},
        #{stateMachineConfig.lastUpdatedBy},
        #{stateMachineConfig.objectVersionNumber}
        );
    </insert>
    <select id="queryById" resultType="io.choerodon.statemachine.domain.StateMachineConfig">
        SELECT *
        FROM state_machine_config
        WHERE organization_id = #{organizationId}
        and id = #{id}
    </select>
</mapper>
