<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.statemachine.infra.mapper.StateMapper">

    <select id="queryById" resultType="io.choerodon.statemachine.domain.State">
        SELECT *
        FROM state
        WHERE organization_id = #{organizationId}
        and id = #{id}
    </select>

    <select id="fulltextSearch" resultType="io.choerodon.statemachine.domain.State">
        SELECT * FROM state
        WHERE 1=1
        <if test="state.organizationId != null">
            AND organization_id = #{state.organizationId}
        </if>
        <if test="state.name != null">
            AND name LIKE concat('%',#{state.name},'%')
        </if>
        <if test="state.type != null">
            AND type LIKE concat('%',#{state.type},'%')
        </if>
        <if test="state.description != null">
            AND description = #{state.description}
        </if>
        <if test="param != null">
            AND ( name LIKE concat('%',#{param},'%')
            OR description LIKE concat('%',#{param},'%')
            )
        </if>
    </select>
</mapper>
