<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.statemachine.infra.mapper.StateMachineTransfDeployMapper">

    <select id="queryById" resultType="io.choerodon.statemachine.domain.StateMachineTransfDeploy">
        SELECT *
        FROM state_machine_transf_deploy
        WHERE organization_id = #{organizationId}
        and id = #{id}
    </select>

</mapper>
